@model Thebes_Acadeny.SpeciltiesViewModel

@{
    ViewData["Title"] = "Add SPecilties";
}

<div class="page-banner " style="background: -webkit-linear-gradient(-67deg, rgb(1, 13, 70), rgb(87, 0, 0)); background: linear-gradient(-67deg, rgb(1, 13, 70), rgb(87, 0, 0))">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <h1 class="font-weight-normal" style="color:#00ff92">اضافه تخصص جديد</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->


<div class="page-section">
    <div class="container">
        <form asp-action="AddSpecialties" asp-controller="Home" class="contact-form mt-5" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-sm-12 py-2 wow fadeInLeft">
                    <label style="text-align:right">اسم التخصص</label>
                    <input type="text" asp-for="@Model.Name" class="form-control">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" value="اضافه" class="btn btn-info" />
        </form>
    </div>
</div>

@section Script{
    <partial name="Partial" />
}