@model Thebes_Acadeny.LevelViewModel

<div class="page-banner " style="background: -webkit-linear-gradient(-67deg, rgb(1, 13, 70), rgb(87, 0, 0)); background: linear-gradient(-67deg, rgb(1, 13, 70), rgb(87, 0, 0))">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <h1 class="font-weight-normal" style="color:#00ff92">اختار المستوي</h1>
        </div>
    </div>
</div>



<section id="portfolio" class="section-bg">
    <div class="container">
        
        <div class="row portfolio-container">

            @if (Model.Levels.Count() != 0)
            {
                foreach (var item in Model.Levels)
                {
                    <a asp-action="terme" asp-controller="Home" asp-route-levid="@item.LevelId" asp-route-speid="@Model.SpeId">
                        <div class="col-lg-6 col-md-6 portfolio-item filter-app wow fadeInUp">
                            <div class="portfolio-wrap">
                                <figure style="background: -webkit-linear-gradient(-47deg, rgb(0, 148, 121), rgb(73, 22, 106)); background: linear-gradient(-47deg, rgb(0, 148, 121), rgb(73, 22, 106)); ">
                                </figure>

                                <div class="portfolio-info" style="overflow:auto">
                                    <h4>@item.LevelName</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }


        </div>

    </div>
</section><!-- #portfolio -->
